
@font-face {
  font-family: "GT America";
  font-weight: 400;
  font-style: normal;
  src: url("https://a.suitsupplycdn.com/fonts/gt-america/gt-america-standard-regular.woff2") format("woff2"),
    url("https://a.suitsupplycdn.com/fonts/gt-america/gt-america-standard-regular.woff") format("woff");
  font-display: swap;
  font-size: 14px;
}

:root {
  --font-family-base: "GT America", -apple-system, BlinkMacSystemFont, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.app-home {
  padding: 10px;
  font-family: var(--font-family-base);
  font-size: 14px;
}

h3 {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

button.primary {
  color: #fff;
  border-color: #2d2e2c;
  background-color: #2d2e2c;
  box-shadow: 0 0 0 transparent;
  width: 100%;
  font-family: var(--font-family-base);
  line-height: 16px;
  text-transform: none;
  letter-spacing: 0;
  height: 46px;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button.login {
  width: 140px;
}

button.link {
  display: inline;
  color: blue;
  border: none;
  font-weight: 300;
  outline: 0;
  cursor: pointer;
  background: none;
}

.input-group {
  margin: 10px 0;
}

.forgot-password {
  text-align: right;
  display: inline;
  color: #898989;
  text-decoration: none;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}